<?php

class DB{
	//Tietokannan tunnukset:
	private	$user = "";
	private	$passwd = "";
	private $host = "";
	private $conn;

	public function __construct() {
		//open connection
		$this->conn = new PDO("mysql:host=$this->host;dbname=tsoha",
								$this->user,
								$this->passwd);

		//PDO error reporting
		$this->conn->setAttribute(PDO::ATTR_ERRMODE,PDO::ERRMODE_EXCEPTION);
	}

	public function getConn(){
		return $this->conn;
	}


}